{% include "includes/header.html" %}
{% load static %}
<div class="container">
    
    <h2 class="mb-4">Atelier Pratique - SVM - classification (Météo)</h2>
    
    <div class="row">
        <div class="col-md-6">
            <h3>Dataset Météo</h3>
            <p> Le dataset météo contient des enregistrements journaliers de conditions météorologiques, y compris des caractéristiques telles que la température, l'humidité, le vent, et la pluie. L'objectif est de prédire si le temps sera ensoleillé ou pluvieux en fonction de ces caractéristiques. </p>
            <p> Les Support Vector Machines (SVM) sont particulièrement adaptés pour ce type de classification binaire, où nous cherchons à séparer deux classes distinctes (ensoleillé vs pluvieux) en utilisant un hyperplan optimal. </p>
            <p> Dans cet atelier, nous allons explorer comment entraîner un modèle SVM sur ce dataset, évaluer ses performances, et visualiser les résultats. </p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/pluie.jpg' %}" width="40%">
            <img src="{% static 'images/soleil.png' %}" width="40%">
        </div>
    </div>
    
    <!-- Pointez vers l'URL de test de l'arbre -->
    <a class="btn btn-success col-12 mt-2 mb-2" href="{% url 'svm_c_tester' %}">Tester le modèle</a>
    <div class="card">
        <iframe src="{% static 'pdfs/demonstration_svm.pdf' %}" width="100%" height="600px" style="border:1px solide #ccc;">
            Ce navigateur ne support pas PDFs. veuillez le télécharger :
            <a href="{% static 'pdfs/demonstration_svm.pdf' %}"> Télécharger PDF</a>
        </iframe>
    </div>
</div>
{% include "includes/footer.html" %}